= simple_form_for(@device, html: {class: 'form form-horizontal device' }) do |form|
  = form.input :name
  = form.input :address
  = form.input :wattage
  = form.input :state, as: :boolean, checked_value: true, unchecked_value: false, inline_label: true, label: false
  = form.button :submit, class: 'btn btn-primary'