= form_for @device, html: { class: "form form-horizontal device" } do |f|
  .form-group
    = f.label :name, class: 'control-label'
    .controls
      = f.text_field :name, class: 'form-control', required: true
    = error_span(@device[:name])
  .form-group
    = f.label :address, class: 'control-label'
    .controls
      = f.text_field :address, class: 'form-control', required: true
    = error_span(@device[:address])
  .form-group
    = f.label :state, class: 'control-label'
    .controls
      = f.select :state, options_for_select([['On',true],['Off',false]], 'On'), {}, {class: 'form-control', required: true}
    = error_span(@device[:state])
  = f.submit nil,class: 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), devices_path, :class => 'btn btn-default'
