%h1 Device#new
%p Find me in app/views/device/new.html2.haml


= semantic_form_for @trigger do |f|
  = f.inputs do
    = f.input :state, as: :radio, collection: { "On" => true, "Off" => false }
    = f.input :device
    = f.input :condition,as: :select, collection: [">", ">=", "==", "<", "<="]
    = f.input :value
    = f.input :reading_type, as: :select, collection: ["TemperatureReading", "HumidityReading"]

  = f.actions do
    = f.action :submit, :as => :input
